<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0" >
    <div class="md:flex md:items-center w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full">
            <!-- Logo -->
            <div class="">
                <img src="assets/images/logo/gurug.svg" style="width: 180px; position: absolute; top: 10px; left: 10px;">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl tracking-tight leading-tight" style="font-size: 2.75rem !important;">Premium video meetings.</div>
            <div class="text-4xl tracking-tight leading-tight mt-1 mb-3" style="font-size: 2.75rem !important;">Now free for everyone.</div>
            <div style="font-family: 'Google Sans',Roboto,Arial,sans-serif;
            font-size: 1.125rem;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 1.5rem;
            color: #5f6368;
            max-width: 30rem;">We re-engineered the service we built for secure business meetings,
                Google Meet, to make it free and available for all.</div>


            <!-- Alert -->
            <!-- <fuse-alert
                class="mt-8"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert> -->

            <!-- Forgot password form -->


            <form class="mt-8" [formGroup]="forgotPasswordForm" #forgotPasswordNgForm="ngForm">

                <div class="flex">

                        <button style="border-radius: 6px !important; padding:0px 40px !important" mat-flat-button [color]="'primary'">

                            <mat-icon class="icon-size-7" svgIcon="video_call"></mat-icon>

                            <span class="ml-2">New Meeting</span>
                        </button>



                        <mat-form-field [formControlName]="'email'" appearance="fill" class="flex-auto gt-xs:pr-3 px-1 w-full fuse-mat-dense">
                            <textarea matInput cdkTextareaAutosize placeholder="Enter a code or link"></textarea>
                            <mat-icon class="icon-size-5" matPrefix svgIcon="keyboard"></mat-icon>
                        </mat-form-field>
                        <button mat-button color="primary"><mat-icon class="icon-size-5" svgIcon="headphones"></mat-icon></button>
                </div>






                <!-- <button
                    class="fuse-mat-button-large w-full mt-3"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="forgotPasswordForm.disabled"
                    (click)="sendResetLink()">
                    <span *ngIf="!forgotPasswordForm.disabled">
                        Send reset link
                    </span>
                    <mat-progress-spinner
                        *ngIf="forgotPasswordForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button> -->




            </form>
        </div>
    </div>
    <div class="border-l relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden" style="
    background: white;
">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <!-- <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg> -->
        <!-- Dots -->
        <!-- <img src="../../../../assets/images/meeting.gif" > -->
        <!-- <svg class="absolute -top-16 -right-16 text-gray-700"
             viewBox="0 0 220 192" width="220" height="192" fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg> -->
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="z-10 relative w-full max-w-2xl " style="text-align: -webkit-center;">
            <div class="">
                <img src="assets/images/safe.svg" style="width: 300px;">
            </div>
            <div class="text-7xl leading-none mt-8">
                <div>Your meeting is safe</div>
            </div>
            <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
                No one can join a meeting unless invited or admitted by the host
            </div>

        </div>
    </div>
</div>
